doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title d o k o
  link(href='css/checkLocation.css' type='text/css' rel='stylesheet')
  link(rel='icon' type='image/png' sizes='96x96' href='public/img/fav/favicon-96x96.png')
  link(rel='manifest' href='public/img/fav/manifest.json')
  link(href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet')
  script(src='js/checkLocation.js' defer)
#usermenu
  img(src='public/img/home.png' id='homeIcon' name='home' title='home')
  img(src='public/img/new.png' id='newIcon' name='new reminder' title='new reminder')
  img(src='public/img/reminders.png' id='remindersIcon' name='reminders' title='reminders')
  img(src='public/img/settings.png' id='settingsIcon' name='settings' title='logout')
.modal
  .modal-content
    form(method='POST' action='/insert' id='newReminders')
      input(type='text' name='where1' id='where1' placeholder='location')
      br
      input(type='textarea' name='reminder' rows='4' id='reminder' placeholder='type your reminder here')
      br
      button(type='submit' id='saveButton') save
    span.close-button &times;
body   
.modal2
  .modal-content2
    form(method="POST" action='' id='checkReminders')
    input(type='text' name='checkLocation' id='checkLocation' placeholder='where are you?')
    br
    button(id='searchButton') search
  span.close-button2 &times;
#welcomeMessage
  img(src='public/img/dokologo1.png' id='clickDoko' name='doko' title='click doko!')
  img(src='public/img/clickdokotext.png' id='clickDokoText' name='clickDokoText' title='click doko text!')
img(src='public/img/about.png' id='aboutIcon' name='about' title='about')