doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title doko: check location
  link(href='checkLocation.css' type='text/css' rel='stylesheet')
  script(src='checkLocation.js' defer)
  script(src='https://maps.googleapis.com/maps/api/js?key=YOUR_KEY&callback=myMap' defer)
#usermenu
  img(src='public/img/home.png' id='homeIcon' name='home' title='home')
  img(src='public/img/new.png' id='newIcon' name='new reminder' title='new reminder')
  img(src='public/img/reminders.png' id='remindersIcon' name='reminders' title='reminders')
  img(src='public/img/settings.png' id='settingsIcon' name='settings' title='logout')
.modal
  .modal-content
    form(method='POST' action='')
    input(type-'text' name='location' id='location' placeholder='location')
    br
    input(type='textarea' name='reminder' rows='4' id= 'reminder' placeholder='type your reminder here')
    br
    button(id='saveButton') SAVE
  span.close-button &times;
#welcomeMessage
img(src='public/img/dokologo1.png' id='clickDoko' name='doko' title='click doko!')
p#clickMessage
  | click doko to check for reminders!