html {
  background-color: #690c62;
  color: white;
  font-family: Yu Mincho, Helvetica, Arial, sans-serif;
  text-align: center;
}

#usermenu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 1px solid #360632;
  background-color: #B54BAD;
  border-radius: 10px;
  float:center;
  width: 100%;
  transition: all 0.3s ease;
}

#homeIcon , #settingsIcon , #newIcon, #remindersIcon {
  width: 20px;
  height: 20px;
  padding: 15px;
}

#welcomeMessage {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#clickDoko {
  margin: 10px;
  height: 100px;
  width: 100px;
}

/* MODAL STUFF */

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(247, 174, 241);
  color: darkviolet;
  padding: 1rem 1.5rem;
  width: 24rem;
  border-radius: 0.5rem;
}

.modal-content > #location {
  display: flex;
  flex-direction: row;
  flex-grow: inherit;
  flex-shrink: inherit;
  flex-wrap: wrap;
  justify-items: center;
  border-radius: 5px;
  margin: 5px;
}

.modal-content > #reminder {
  display: flex;
  flex-direction: column;
  justify-items: center;
  flex-wrap: wrap;
  height: 100px;
  width: 100%;
  border-radius: 5px;
  text-align: center;
}

.modal-content > #saveButton {
  display: flex;
  flex-direction: row;
  border-radius: 0.25rem;
  color: darkviolet;
  width: 100px;
  height: 25px;
  margin-top: 4px;
}

.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}
.close-button:hover {
  background-color: darkviolet;
}
.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}