html {
  background-color: #690c62;
  color: darkpurple;
  font-family: Yu Mincho, Helvetica, Arial, sans-serif;
  text-align: center;
}

#usermenu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 1px solid rgb(116, 27, 101);
  background-color: #855396;
  color:white;
  border-radius: 10px;
  word-spacing: 50px;
}

#usermenu > p:hover {
  color:purple;
  font-weight: bold;
}

#homeIcon , #settingsIcon , #newIcon, #remindersIcon {
  width: 20px;
  height: 20px;
  padding: 15px;
}

#location {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#clickDoko {
  margin: 20px;
  height: 100px;
  width: 100px;
}

#location > p {
  text-align: center;
  font-weight: bold;
}

#clickMessage {
  color:white;
}