doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible')
  title d o k o !
  style
    include indexstyles.css
  script(src='index.js' defer='')
#login
  img(src='public/img/dokotext.png' id='dokoText')
  div(id='login>\
  <form action=' method='post' enctype='application/x-www-form-urlencoded')
    input(type='email' name='email' size='20' placeholder='email' id='loginEmail')
    input(type='password' name='password' size='20' placeholder='password' minlength='8' id='loginPass')
    button(type='submit' name= 'sign_in' id='button') Log In
  #createuser
    p
      | Need an account? 
      a(href='createUser') Sign-Up for free!  