doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible')
  title d o k o !
  style
    include indexstyles.css
  script(src='index.js' defer='')
#h1
  h1 welcome to doko!
#dokologo
  img(src='public/img/dokologo1.png')
div(id='login>\
<form action=' method='post' enctype='application/x-www-form-urlencoded')
  input(type='email' name='email' size='20' placeholder='email')
  input(type='password' name='password' size='20' placeholder='password' minlength='8')
  button(type='submit' name= 'sign_in' id='button') SIGN IN
#createuser
  p
    | Need an account? 
    a(href='createUser') Sign-Up for free!  