doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible')
  title d o k o
  style
    include css/indexstyles.css
  script(src='js/index.js' defer='')
  link(rel='icon' type='image/png' sizes='96x96' href='public/img/fav/favicon-96x96.png')
  link(rel='manifest' href='public/img/fav/manifest.json')
meta(name='msapplication-TileColor' content='#ffffff')
meta(name='msapplication-TileImage' content='/ms-icon-144x144.png')
meta(name='theme-color' content='#ffffff')
#login
  img(src='public/img/dokotext.png' id='dokoText')
  div(id='login>\
  <form action=' method='post' enctype='application/x-www-form-urlencoded')
    input(type='email' name='email' size='20' placeholder='email' id='loginEmail')
    input(type='password' name='password' size='20' placeholder='password' minlength='8' id='loginPass')
    button(type='submit' name= 'sign_in' id='button') Log In
  #createuser
    p
      | Need an account? 
      a(href='createUser') Sign-Up for free!  
img(src='public/img/about.png' id='aboutIcon' name='about' title='about')