doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  link(href='myReminders.css' type='text/css' rel='stylesheet')
  script(src='myReminders.js' defer='')
  title doko: reminders
#usermenu
  img(src='public/img/home.png' id='homeIcon' name='home' title='home')
  img(src='public/img/new.png' id='newIcon' name='new reminder' title='new reminder')
  img(src='public/img/reminders.png' id='remindersIcon' name='my reminders' title='my reminders')
  img(src='public/img/settings.png' id='settingsIcon' name='settings' title='log out')
#reminders
  ul
    li Walmart: Pick up toilet paper
      img(src='public/img/edit.png' id='editIcon' title='edit')
      img(src='public/img/delete.png' id='deleteIcon' title='delete')
    li Walmart: Pick up cheese
      img(src='public/img/edit.png' id='editIcon' title='edit')
      img(src='public/img/delete.png' id='deleteIcon' title='delete')
    li Grocery Store: Pick up beans
      img(src='public/img/edit.png' id='editIcon' title='edit')
      img(src='public/img/delete.png' id='deleteIcon' title='delete')
    li Jenn&apos;s House: Ask for book back
      img(src='public/img/edit.png' id='editIcon' title='edit')
      img(src='public/img/delete.png' id='deleteIcon' title='delete')
    li Home: Put trash out
      img(src='public/img/edit.png' id='editIcon' title='edit')
      img(src='public/img/delete.png' id='deleteIcon' title='delete')
    li Home: Scan tax return, email to Justin
      img(src='public/img/edit.png' id='editIcon' title='edit')
      img(src='public/img/delete.png' id='deleteIcon' title='delete')
    li Home: Put plastic bag in work bag
      img(src='public/img/edit.png' id='editIcon' title='edit')
      img(src='public/img/delete.png' id='deleteIcon' title='delete')
    li David&apos;s Tea: Buy 100g &quot;Blueberry Jam&quot;
      img(src='public/img/edit.png' id='editIcon' title='edit')
      img(src='public/img/delete.png' id='deleteIcon' title='delete')
    li Work: Give new direct deposit form to HR
      img(src='public/img/edit.png' id='editIcon' title='edit')
      img(src='public/img/delete.png' id='deleteIcon' title='delete')