doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  link(href='myReminders.css' type='text/css' rel='stylesheet')
  script(src='myReminders.js' defer='')
  title doko: reminders
#usermenu
  img(src='public/img/home.png' id='homeIcon' name='home' title='home')
  img(src='public/img/new.png' id='newIcon' name='new reminder' title='new reminder')
  img(src='public/img/reminders.png' id='remindersIcon' name='my reminders' title='my reminders')
  img(src='public/img/settings.png' id='settingsIcon' name='settings' title='log out')
.modal
  .modal-content
    form(method='POST' action='')
    input(type-'text' name='location' id='location' placeholder='location')
    br
    input(type='textarea' name='reminder' rows='4' id= 'reminder' placeholder='type your reminder here')
    br
    button(id='saveButton') SAVE
  span.close-button &times;
#reminders
  ul
    li Walmart: Pick up toilet paper
    li Walmart: Pick up cheese
    li Grocery Store: Pick up beans
    li Jenn&apos;s House: Ask for book back
    li Home: Put trash out
    li Home: Scan tax return, email to Justin
    li Home: Put plastic bag in work bag
    li David&apos;s Tea: Buy 100g &quot;Blueberry Jam&quot;
    li Work: Give new direct deposit form to HR