html {
  background-color: #690c62;
  color: white;
  font-family: Yu Mincho, Helvetica, Arial, sans-serif;
  text-align: center;
}

#overCreate {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

#overCreate > img {
  height: 45%;
  width: 45%;
}

input[type="email"] , input[type="password"] {
  border-radius: 10px;
  text-align: center;
  border: 1px solid #aa3992;
  color: black;
  margin: 5px;
}

button {
display: flex;
flex-direction: row;
width: 10%;
background-color: #af5da2;
color: white;
border-radius: 10px;
display: inline-block;
font-display: Yu Mincho, Helvetica, Arial, sans-serif;
letter-spacing: 1px;
margin: 1%;
}

#aboutIcon {
  position: absolute;
  height: 1%;
  width: 1%;
  bottom: 0;
  right: 0;
  margin: 10px;
}