html {
  background-color: #690c62;
  font-family: Yu Mincho, Helvetica, Arial, sans-serif;
  text-align: center;
  color: white;
}

#login {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

#dokoText {
  height: 50%;
  width: 50%;
  padding-bottom: 1%;
}

input[type="email"], input[type="password"] {
border-radius: 10px;
margin: 5px;
text-align: center;
border: 1px solid rgb(116, 27, 101);
}

button {
background-color: #af5da2;
color: white;
border-radius: 10px;
display: inline-block;
letter-spacing: 1px;
font-family: Helvetica, Arial, sans-serif;
font-size: 70%;
}

#createuser {
    font-size:12px;
}

#createuser > p > a {
  text-decoration: none;
  color:white;
}

#createuser > p > a:hover {
  color: rgb(252, 36, 36);
}

#aboutIcon {
  position: absolute;
  height: 1%;
  width: 1%;
  bottom: 0;
  right: 0;
  margin: 10px;
}