html {
  background-color: #690c62;
  color: darkpurple;
  font-family: Raleway, Helvetica, Arial, sans-serif;
  text-align: center;
}

#usermenu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 1px solid rgb(116, 27, 101);
  background-color: #855396;
  color:white;
  border-radius: 10px;
  word-spacing: 50px;
  position: fixed;
  width: 100%;
}

#usermenu > p:hover {
  color:purple;
  font-weight: bold;
}

#homeIcon , #newIcon , #remindersIcon , #settingsIcon {
  width: 20px;
  height: 20px;
  padding: 15px;
}

ul {
/*  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: auto;
  grid-gap: 10px; */
  float: none;
  width: 33%;
  height: 70%;
  justify-items: center;
} 

li {
  list-style: none;
  justify-content: stretch;
  margin: 2px;
  padding: 10px;
  text-align: center;
  background-color: #855396
}

#reminders {
  color:white;
  overflow-y: hidden;
}

#reminders > ul > li {
  text-align: center;
  border: 1px solid #500f47;
  border-radius: 10px;
  line-height: 50px;
  vertical-align: middle;
}

#reminders > ul > li > img {
  padding-top: 15px;
  padding-left:10px;
  height: 20px;
  width: 20px;
}

#reminders > ul > li > #deleteIcon {
  width: 10px;
  height: 10px;
  padding-top: 20px;
}

#aboutIcon {
  position: absolute;
  height: 1%;
  width: 1%;
  bottom: 0;
  right: 0;
  margin: 10px;
}

/* MODAL STUFF */

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(247, 174, 241);
  color: darkviolet;
  padding: 1rem 1.5rem;
  width: 24rem;
  border-radius: 0.5rem;
  justify-content: center;
}

.modal-content > #location {
  display: flex;
  flex-direction: row;
  flex-grow: inherit;
  flex-shrink: inherit;
  flex-wrap: wrap;
  justify-items: center;
  border-radius: 5px;
  margin: none;
  margin-bottom: 5px;
  width: 100%;
  text-align: center;
}

.modal-content > #reminder {
  display: flex;
  flex-direction: column;
  justify-items: center;
  flex-wrap: wrap;
  height: 100px;
  width: 100%;
  border-radius: 5px;
  text-align: center;
}

.modal-content > #saveButton {
  border-radius: 0.25rem;
  color: darkviolet;
  width: 100px;
  height: 25px;
  margin-top: 4px;
}

.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}

.close-button:hover {
  background-color: darkviolet;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}